@{
    ViewData["Title"] = "Orion.net";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Orion.net</h1>
    <h1 class="h3 mb-2 text-gray-800" id="displaySupportId"></h1>
</div>

<div class="row">
    <div class="col">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Connected users</h6>
            </div>
            <div class="card-body">
                <div class="demo-section k-content">
                    <div id="tabstrip">
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4" id="blocCurrentConnection">
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="resultDisplayString">
    <div class="col-xl-6 mt-4">
        <div class="card border-left-#:Color# shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 text-gray-800">#:Content#</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="resultDisplayImage">
    <div class="col-xl-6 mt-4">
        <div class="card border-left-#:Color# shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <img class="h5 mb-0 text-gray-800 img-fluid" src="data:image/jpg;base64,#:Content#" alt="Result Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="connectedUserDetailTemplate">
    <div identifier="detailElement_#:appId#" class="currentConnectionDetail">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Current connection detail of #:appId#</h6>
        </div>
        <div class="card-body">
            <div class="demo-section k-content">
                <div class="font-weight-bold mb-4">
                    Détail de l'élément
                </div>
                <div class="row">
                    <div class="col col-md-2">
                        <input identifier="detailElement_commands_#:appId#" value="" style="width: 100%;" />
                    </div>
                    <div class="col col-md-8">
                        <input type="text" identifier="detailElement_commands_params_#:appId#" class="form-control" placeholder="set parameters here">
                    </div>
                    <div class="col col-md-2">
                        <a class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm" onclick="sendCommand('#:appId#')">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">send</span>
                        </a>
                    </div>
                </div>
                <hr class="k-hr" />
                <div class="font-weight-bold">
                    Historique des résultats
                </div>
                <div id="addResults_#:appId#">
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="connectedUserCardTemplate">
    <div class="col-xl-3 col-md-6 mb-4" appId="#:appId#" onclick="loadClient('#:appId#')">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">#:appId#</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">#:userName#</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    function sendCommand(appId) {
        var dropdownlist = $("input[identifier = 'detailElement_commands_" + appId + "']").data("kendoDropDownList");
        connection.invoke("SendCommandToClient",
            {
                AppId: appId,
                CommandTitle: dropdownlist.text(),
                CommandParam: $("input[identifier='detailElement_commands_params_" + appId + "']").val()
            }).catch(function (err) {
                return console.error(err.toString());
            });
    }
</script>
<script type="text/javascript">
    //Create GUID
    function GuidFour() {
        return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
    }
    var jsClientId = (GuidFour() + "-" + GuidFour() + "-" + GuidFour() + "-" + GuidFour()).toLowerCase();;

    var connectedUserCardTemplate = kendo.template($("#connectedUserCardTemplate").html());
    var connectedUserDetailTemplate = kendo.template($("#connectedUserDetailTemplate").html());
    var displayResultsStringTemplate = kendo.template($("#resultDisplayString").html());
    var displayResultsImageTemplate = kendo.template($("#resultDisplayImage").html());
    var tabStrip = $("#tabstrip");
    var connection = new signalR.HubConnectionBuilder().withUrl("/orionhub").build();

    //ID Support Display
    window.onload = function () {
        document.getElementById('displaySupportId').innerText = "Support ID : " + this.jsClientId;
    }

    connection.on("NewClient", function (detail) {
        tabStrip.append(connectedUserCardTemplate(detail));
    });

    connection.on("AnswerCommands", function (appId, commands) {
        loadAvailableCommands(appId, commands);
    });
    connection.on("ResultSent", function (appId, resultId, resultType) {
        displayResult(appId, resultId, resultType);
    });
    connection.start().then(function () {
        //Send supportId to create group supportId
        connection.invoke("StartSupportGroupe", jsClientId);
    }).catch(function (err) {
        return console.error(err.toString());
    });

    function loadClient(appID) {
        $(".currentConnectionDetail").each(function () {
            $(this).hide();
        });
        $("div[identifier='detailElement_" + appID + "']").show();
        if ($("div[identifier='detailElement_" + appID + "']").length == 0) {
            var html = connectedUserDetailTemplate({
                appId: appID
            });
            $("#blocCurrentConnection").append(html);
            connection.invoke("AskCommands", appID).catch(function (err) {
                return console.error(err.toString());
            });
        }
    }
    function loadAvailableCommands(appId, commands) {
        // create DropDownList from input HTML element
        $("input[identifier = 'detailElement_commands_" + appId + "']").kendoDropDownList({
            dataTextField: "title",
            dataValueField: "title",
            dataSource: commands,
            index: 0
        });
    }
    function displayResult(appId, resultId, type) {
        var uri = "/api/v1/";
        var html;

        switch (type) {
            case 2:
                uri += "StringResultData/" + resultId;
                $.get(uri, function (data) {
                    deserialized = JSON.parse(data);
                    html = displayResultsStringTemplate({
                        Content: deserialized.ConsoleContent,
                        Color: "primary"
                    });
                    $("#addResults_" + appId).prepend(html);
                });
                break;
            case 3:
                uri += "ImageResultData/" + resultId;
                $.get(uri, function (data) {
                    deserialized = JSON.parse(data);
                    html = displayResultsImageTemplate({
                        Content: (deserialized.ImageAsByteArray),
                        Color: "warning"
                    });
                    $("#addResults_" + appId).prepend(html);
                });
                break;
            default: break;
        }
    }
</script>
@section scripts {
}