@{
    ViewData["Title"] = "Care center";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Care center</h1>
</div>

<div class="row">
    <div class="col">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Connected users</h6>
            </div>
            <div class="card-body">
                <div class="demo-section k-content">
                    <div id="tabstrip">
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4" id="blocCurrentConnection">
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="resultDisplayString">
    <div class="col-xl-6 mt-4">
        <div class="card border-left-#:Color# shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 text-gray-800">#:Content#</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="resultDisplayImage">
    <div class="col-xl-6 mt-4">
        <div class="card border-left-#:Color# shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <img class="h5 mb-0 text-gray-800 img-fluid" src="data:image/jpg;base64,#:Content#" alt="Result Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="connectedUserDetailTemplate">
    <div identifier="detailElement_#:connectionId#" class="currentConnectionDetail">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Current connection detail of #:connectionId#</h6>
        </div>
        <div class="card-body">
            <div class="demo-section k-content">
                <div class="font-weight-bold mb-4">
                    Détail de l'élément
                </div>
                <div class="row">
                    <div class="col col-md-2">
                        <input identifier="detailElement_commands_#:connectionId#" value="" style="width: 100%;" />
                    </div>
                    <div class="col col-md-8">
                        <input type="text" identifier="detailElement_commands_params_#:connectionId#" class="form-control" placeholder="set parameters here">
                    </div>
                    <div class="col col-md-2">
                        <a class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm" onclick="sendCommand('#:connectionId#')">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">send</span>
                        </a>
                    </div>
                </div>
                <hr class="k-hr" />
                <div class="font-weight-bold">
                    Historique des résultats
                </div>
                <div id="addResults_#:connectionId#">
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="connectedUserCardTemplate">
    <div class="col-xl-3 col-md-6 mb-4" connectionId="#:connectionId#" onclick="loadClient('#:connectionId#')">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">#:connectionId#</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">#:userName#</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    function sendCommand(connectionId) {
        var dropdownlist = $("input[identifier = 'detailElement_commands_" + connectionId + "']").data("kendoDropDownList");
        connection.invoke("SendCommandToClient",
            {
                ConnectionId: connectionId,
                CommandTitle: dropdownlist.text(),
                CommandParam: $("input[identifier='detailElement_commands_params_" + connectionId + "']").val()
            }).catch(function (err) {
                return console.error(err.toString());
            });
    }
</script>
<script type="text/javascript">
    console.info("start orion client");
    var connectedUserCardTemplate = kendo.template($("#connectedUserCardTemplate").html());
    var connectedUserDetailTemplate = kendo.template($("#connectedUserDetailTemplate").html());
    var displayResultsStringTemplate = kendo.template($("#resultDisplayString").html());
    var displayResultsImageTemplate = kendo.template($("#resultDisplayImage").html());
    var tabStrip = $("#tabstrip");
    var connection = new signalR.HubConnectionBuilder().withUrl("/orionhub").build();

    connection.on("newClient", function (detail) {
        tabStrip.append(connectedUserCardTemplate(detail));
    });

    connection.on("AnswerCommands", function (connectionId, commands) {
        loadAvailableCommands(connectionId, commands);
    });
    connection.on("ResultSent", function (connectionId, resultId, resultType) {
        displayResult(connectionId, resultId, resultType);
    });
    connection.start().then(function () {

    }).catch(function (err) {
        return console.error(err.toString());
    });
    function loadClient(connId) {
        $(".currentConnectionDetail").each(function () {
            $(this).hide();
        });
        $("div[identifier='detailElement_" + connId + "']").show();
        if ($("div[identifier='detailElement_" + connId + "']").length == 0) {
            var html = connectedUserDetailTemplate({
                connectionId: connId
            });
            $("#blocCurrentConnection").append(html);
            connection.invoke("AskCommands", connId).catch(function (err) {
                return console.error(err.toString());
            });
            $("#sendAskCommandsId").attr("connectionId", connId);
        }
    }
    function loadAvailableCommands(connectionId, commands) {
        // create DropDownList from input HTML element
        $("input[identifier = 'detailElement_commands_" + connectionId + "']").kendoDropDownList({
            dataTextField: "title",
            dataValueField: "title",
            dataSource: commands,
            index: 0
        });
    }
    function loadClient(connId) {
        $(".currentConnectionDetail").each(function () {
            $(this).hide();
        });
        $("div[identifier='detailElement_" + connId + "']").show();
        if ($("div[identifier='detailElement_" + connId + "']").length == 0) {
            var html = connectedUserDetailTemplate({
                connectionId: connId
            });
            $("#blocCurrentConnection").append(html);
            connection.invoke("AskCommands", connId).catch(function (err) {
                return console.error(err.toString());
            });
            $("#sendAskCommandsId").attr("connectionId", connId);
        }
    }
    function displayResult(connectionId, resultId, type) {
        var uri = "/api/v1/";
        var html;

        switch (type) {
            case 2:
                uri += "StringResultData/" + resultId;
                $.get(uri, function (data) {
                    html = displayResultsStringTemplate({
                        Content: data.consoleContent,
                        Color: "primary"
                    });
                    $("#addResults_" + connectionId).prepend(html);
                });
                break;
            case 3:
                uri += "ImageResultData/" + resultId;
                $.get(uri, function (data) {
                    html = displayResultsImageTemplate({
                        Content: (data.imageInByteArray),
                        Color: "danger"
                    });
                    $("#addResults_" + connectionId).prepend(html);
                });
                break;
            case 4:
                uri += "FileResultData/" + resultId;
                var downloading = browser.downloads.download({
                  url : uri,
                  filename : 'my-image-again.png',
                  conflictAction : 'uniquify'
                });

                downloading.then(function(){console.log("Start Download");}, function(){console.log("Download Failed");});
            default: break;
        }
        console.log('ResultSend uri : ' + uri);
    }

</script>
@section scripts {
}