<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--Path to the config file with the connection key to Azure Cache for Redis-->
  <!--Inside :
  <appSettings>
    <add key="RedisConnection" value="<name>.redis.cache.windows.net,abortConnect=false,ssl=true,password=<key>"/>
  </appSettings>-->
  <appSettings file="C:\Users\cadier\Downloads\CacheSecrets.config"></appSettings>

</configuration>