<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--Path to the config file with the connection key to Azure Cache for Redis and Azure SignalR Service-->
  <!--Inside :
  <appSettings>
    <add key="RedisConnection" value="<name>.redis.cache.windows.net,abortConnect=false,ssl=true,password=<key>"/>
    <add key="AzureSignalRConnection" value="Endpoint=<address>;AccessKey=<key>;Version=1.0;"/>
  </appSettings>-->
  
  <appSettings file="C:\Users\cadier\Downloads\CacheSecrets.config"></appSettings>

</configuration>