@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <partial>
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion mt-0" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Orion.Net</div>
                </a>
            </li>

            <!-- Divider -->
            <li><hr class="sidebar-divider"></li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/Home/About">
                    <i class="fas fa-fw fa-info-circle"></i>
                    <span class="display-2">About</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Contact">
                    <i class="fas fa-fw fa-comments"></i>
                    <span class="display-3">Contact</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Privacy">
                    <i class="fas fa-fw fa-lock"></i>
                    <span class="display-4">Privacy</span>
                </a>
            </li>
        </ul>
    </partial>